.dashboard-wrapper {
    min-height: 100%;
    display: flex;
}

.form-section{
    flex: 1;
    border: 1px solid #d7d5d5;
}

.template-section {
    flex: 2;
    border: 1px solid #d7d5d5;
    /* height: 100%; */
}

.nav-section {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin:0.5em;
}