<h1 mat-dialog-title>{{ data.type.name }}</h1>
<div mat-dialog-content>
  <p>Enter the {{ data.type.name }} configurable properties :</p>
  <ng-container>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Field Name</mat-label>
        <input matInput name="fieldname" [(ngModel)]="fieldName" />
      </mat-form-field>
    </div>
    <div>
      <mat-label>Required Field :</mat-label>
      <mat-checkbox [(ngModel)]="required"></mat-checkbox>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Help Text</mat-label>
        <input matInput name="helptext" [(ngModel)]="helpText" />
      </mat-form-field>
    </div>
    <div *ngIf="types.textfield === data.type.name || types.textarea === data.type.name">
      <mat-form-field appearance="outline">
        <mat-label>Minimum Length</mat-label>
        <input
          matInput
          type="number"
          name="minLength"
          [(ngModel)]="minLength"
        />
      </mat-form-field>
    </div>
    <div *ngIf="types.textfield === data.type.name || types.textarea === data.type.name">
      <mat-form-field appearance="outline">
        <mat-label>Maximum Length</mat-label>
        <input
          matInput
          type="number"
          name="maxLength"
          [(ngModel)]="maxLength"
        />
      </mat-form-field>
    </div>
    <div *ngIf="types.textfield === data.type.name || types.textarea === data.type.name">
      <mat-form-field appearance="outline">
        <mat-label>Validation Pattern</mat-label>
        <input matInput name="pattern" [(ngModel)]="pattern" />
      </mat-form-field>
    </div>
    <div *ngIf="types.dropdown === data.type.name || types.checkbox === data.type.name || types.radio === data.type.name">
      <mat-form-field>
        <mat-label>Add {{data.type.name}} Options</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row
            *ngFor="let option of options"
            (removed)="remove(option)"
          >
            {{ option }}
            <button matChipRemove [attr.aria-label]="'remove ' + option">
              <span class="material-symbols-outlined"> close </span>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="Add Option.."
          
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
    </div>
  </ng-container>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onFieldSubmit()" cdkFocusInitial>Submit</button>
</div>
