<div class="template-list-wrapper">
  <ng-container *ngIf="istTemplateCreateMode; else listview">
    <div class="field-drop-section">
       <app-preview-template></app-preview-template>
    </div>
  </ng-container>
  <ng-template #listview>
    <div>
      <ng-container *ngIf="isTemplateListEmpty">
        <p>Create new template</p>
      </ng-container>
      <ng-container *ngIf="!isTemplateListEmpty">
        <p>Here are your templates</p>
      </ng-container>
    </div>
    <ng-container>
      <mat-card class="default-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Create Template</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>{{ longText }}</p> -->
          <button matFab class="shadow" (click)="toggleMode()">
            <span
              title="Create"
              class="material-symbols-outlined create-template-icon"
            >
              add
            </span>
          </button>
        </mat-card-content>
        <!-- <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer> -->
      </mat-card>
    </ng-container>
  </ng-template>
</div>
